<mat-toolbar class="main-toolbar">
  <span class="brand">Smart Ticket System</span>
  
  <div class="nav-links d-none d-md-flex" *ngIf="(authService.role$ | async) as role">
    
    <ng-container *ngIf="role === 'EndUser'">
      <a mat-button routerLink="/enduser/create-ticket" routerLinkActive="active-link">Create Ticket</a>
      <a mat-button routerLink="/enduser/tickets" routerLinkActive="active-link">My Tickets</a>
    </ng-container>

    <ng-container *ngIf="role === 'SupportManager'">
      <a mat-button routerLink="/manager/assign-ticket" routerLinkActive="active-link">Assign Ticket</a>
    </ng-container>

    <ng-container *ngIf="role === 'SupportAgent'">
      <a mat-button routerLink="/agent/update-status" routerLinkActive="active-link">Update Status</a>
    </ng-container>

    <ng-container *ngIf="role === 'Admin'">
      <a mat-button routerLink="/admin" routerLinkActive="active-link">Admin Panel</a>
    </ng-container>
  </div>

  <span class="spacer"></span>

  <div *ngIf="(authService.role$ | async)">
    <button mat-icon-button class="d-md-none" (click)="logout()">
        <mat-icon>logout</mat-icon>
    </button>
    
    <!-- <button mat-stroked-button 
            style="color: white; border-color: white;" 
            class="d-none d-md-block" 
            (click)="logout()">
      Logout
    </button> -->
  </div>
</mat-toolbar>