<app-navbar></app-navbar>
<h3>Assign Ticket</h3>

<form (ngSubmit)="assign()">
  <div>
    <label>Ticket ID</label>
    <input type="number" [(ngModel)]="ticketId" name="ticketId" required />
  </div>

  <div>
    <label>Agent User ID</label>
    <input type="number" [(ngModel)]="agentUserId" name="agentUserId" required />
  </div>

  <button type="submit">Assign</button>
</form>

<p *ngIf="successMessage" style="color: green">{{ successMessage }}</p>
<p *ngIf="errorMessage" style="color: red">{{ errorMessage }}</p>
