<header class="app-navbar" *ngIf="isLoggedIn()">

  <div class="nav-left">
    <span class="brand">CHUBB TICKET SYSTEM</span>

    <ng-container *ngIf="getRole() === 'EndUser'">
      <a routerLink="/enduser">My Tickets</a>
      <a routerLink="/create-ticket">New Ticket</a>
    </ng-container>

    <ng-container *ngIf="getRole() === 'SupportAgent'">
      <a routerLink="/agent">Assigned Tickets</a>
      <a routerLink="/agent-reports">Reports</a>
    </ng-container>

    <ng-container *ngIf="getRole() === 'SupportManager'">
      <a routerLink="/manager">Manage Tickets</a>
      <a routerLink="/reports">Reports</a>
    </ng-container>

    <ng-container *ngIf="getRole() === 'Admin'">
      <a routerLink="/admin">Admin Panel</a>
      <a routerLink="/admin-reports">Reports</a>
    </ng-container>
  </div>

  <div class="nav-right">
    <app-notifications></app-notifications>
    <button class="logout-btn" (click)="logout()">Logout</button>
  </div>

</header>